* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
    background-size: cover;
    height: 100vh;
    background-color: #f0f0f0;
}

.email-card {
    text-align: center;
    background-color: #243B55;
    border-radius: 20px;
    padding: 3rem;
    color: white;
    box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.6);
    max-width: 400px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.email-card h1 {
    margin: 0;
    font-size: 2rem;
}

.email-card p {
    font-size: 1rem;
    margin-top: 10px;
}

.email-card-inputs {
    margin: 30px 0;
}

.email-card-inputs input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 10px;
    transition: border 0.3s ease, outline 0.3s ease;
}

.email-card-inputs input:focus {
    outline: 2px solid #141E30;
    border-color: transparent;
}

.email-card button {
    background-color: #545658;
    border: none;
    padding: 15px 50px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease;
}

.email-card button:hover {
    background-color: black;
    transform: scale(1.05);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
}

.email-card button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .email-card {
        padding: 2rem;
    }

    .email-card h1 {
        font-size: 1.5rem;
    }

    .email-card-inputs input {
        height: 40px;
        font-size: 16px;
    }

    .email-card button {
        padding: 10px 40px;
        font-size: 16px;
    }
}
