* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

body {
    font-size: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
    background-size: cover;
    height: 100vh;
}

.otp-card {
    text-align: center;
    background-color: #243B55;
    border-radius: 20px;
    padding: 3rem;
    color: white;
    box-shadow: 0 10px 40px -20px black;
}

.otp-card-inputs {
    margin: 30px 0;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(6, auto);
}

.otp-card-inputs input {
    width: 60px;
    height: 70px;
    font-size: 35px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
}

.otp-card-inputs input:focus {
    outline: 2px solid #141E30;
    border-color: transparent;
}

.otp-card button {
    background-color: #545658;
    border: none;
    padding: 15px 50px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease;  /* Smooth transition for effects */
}

.otp-card button:hover {
    background-color: black;  /* Change the background color on hover */
    transform: scale(1.05);     /* Slightly increase the button size */
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5); /* Add a box-shadow */
}

.otp-card button[disabled] {
    opacity: 0.5;
    cursor: default;
}
