* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f6f5f7; */
    background: linear-gradient(to bottom, #ffffff, #9f9f9f);
    height: 100vh;
}

.otp-card {
    text-align: center;
    background: linear-gradient(to bottom, #676767, #001228);
    border-radius: 10px;
    padding: 5rem;
    color: white;
    box-shadow: 25px 30px 55px rgba(0, 0, 0, 0.8);
    max-width: 700px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.otp-card h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--grad-clr1);
}

.otp-card p {
    font-size: 1rem;
    margin-top: 10px;
}

.otp-card-inputs {
    margin: 30px 0;
    display: grid;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
}

.otp-card-inputs input {
    width: 60px;
    height: 70px;
    font-size: 35px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #DDD; /* Light border color */
    transition: border 0.3s ease, outline 0.3s ease;
    background-color: #f3f3f3; /* Light background for inputs */
}

.otp-card-inputs input:focus {
    outline: 2px solid var(--grad-clr1);
    border-color: transparent; /* Hide border on focus */
}

.otp-card a {
    color: white; /* Set the text color to white */
    text-decoration: underline; /* Underline the text */
    transition: color 0.3s ease, font-size 0.3s ease; /* Transition for color and size */
}

.otp-card a:hover {
    color: #f0f0f0; /* Slightly lighter color on hover */
    font-size: x-large; /* Increase font size on hover */
}

.otp-card button {
    /* background-color: var(--grad-clr1); */
    background-color: #243B55;
    border: none;
    padding: 12px 45px;
    font-size: 18px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease;
}

.otp-card button:hover {
    background-color: #243B55; /* Darker shade for hover effect */
    transform: scale(1.05);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
}

.otp-card button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .otp-card {
        padding: 2rem; /* Adjust padding for smaller screens */
    }

    .otp-card h1 {
        font-size: 1.5rem; /* Reduce font size for heading */
    }

    .otp-card-inputs input {
        width: 50px;
        height: 60px;
        font-size: 30px; /* Adjust font size for smaller inputs */
    }

    .otp-card button {
        padding: 10px 40px;
        font-size: 16px; /* Adjust button font size */
    }
}
